<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781846829235-5v5d4jjlo295qiudu9ilj9tp0fl22k73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781846829235-5v5d4jjlo295qiudu9ilj9tp0fl22k73</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>781846829235-01lst99ijcq3ddjol3kf2k4brifh18ui.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCRYx1ag72kY2BgcCg5DJSCdmsG031TUvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>781846829235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roccaboxadmin.roccaboxAdmin</string>
	<key>PROJECT_ID</key>
	<string>roccabox-b7a79</string>
	<key>STORAGE_BUCKET</key>
	<string>roccabox-b7a79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781846829235:ios:5368ab83538dc0d5cbf8c6</string>
	<key>DATABASE_URL</key>
	<string>https://roccabox-b7a79-default-rtdb.firebaseio.com</string>
</dict>
</plist>